@font-face {
    font-family: 'VCR';
    src: url('public/fonts/vcr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Aplicar fuente globalmente y a todos los elementos hijos */
.editor-scope, 
.editor-scope * {
    font-family: 'VCR', 'Courier New', monospace !important;
    text-transform: uppercase;
}

/* Clase para ocultar la UI durante la carga */
.hidden-ui {
    display: none !important;
}

/* Overlay fijo a 720p (1280x720), centrado y debajo del modal */
.modular-window-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(0%, 0%);
    width: 1280px;
    height: 720px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 9999; /* Nivel inferior al contenedor de la ventana */
    pointer-events: all;
}

/* Contenedor de la ventana modal (encima del overlay) */
.modular-window-container {
    z-index: 10000 !important;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #2a1836;
}
::-webkit-scrollbar-thumb {
    background-color: #663399;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #7a4fcf;
}